:root {
	--gunmetal: #293241;
	--burntsienna: #ee6c4d;
	--lightcyan: #e0fbfc;
	--palecrulean: #98c1d9;
	--bedazzleblue: #3d5a80;
	--sandybrown: #f4a261;
	--oycrayola: #e9c46a;
	--persiangreen: #2a9d8f;
	--charcoal: #264653;
}

html {
	background: rgb(41, 50, 65);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: var(--palecrulean);
	/* background: linear-gradient(180deg, var(--persiangreen) 0%, var(--sandybrown) 100%); */
	color: var(--gunmetal);
	height: 100%;
}

header {
	font-family: 'Permanent Marker', cursive;
	font-size: 60px;
	font-weight: 700;
	padding: 30px;
	align-content: center;
	justify-content: center;
	display: flex;
}

main {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 30px;
	font-weight: 200;
}

#actionLine1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#urlText {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 30px;
	width: 60%;
	min-width: 300px;
	height: 5px;
	padding: 30px;
	border-radius: 25px;
	border: 1px solid #236;
	border-color: var(--gunmetal);
	box-shadow: 10px 10px 10px var(--gunmetal);
}

#dlButton {
	font-family: 'Permanent Marker', cursive;
	font-size: 15px;
	width: 100px;
	height: 70px;
	margin: 0 10px;
	border-radius: 25px;
	background-color: #293241;
	color: var(--lightcyan);
	box-shadow: 10px 10px 10px var(--gunmetal);
}

/* Download notification */
#dlNotificationBar {
	display: flex;
	border-radius: 25px;
	box-shadow: 10px 10px 10px var(--gunmetal);
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	width: 70%;
	/* height: 15%; */
	font-size: 20px;
	color: var(--gunmetal);
	background-color: var(--burntsienna);
	opacity: 1;
	visibility: hidden;
	animation: fadeInOut 2s linear;
	-webkit-animation: fadeInOut 2s linear;
	-moz-animation: fadeInOut 2s linear;
	-o-animation: fadeInOut 2s linear;
	-ms-animation: fadeInOut 2s linear;
}

@keyframes fadeInOut {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

/* File Info Section */

#infoSection {
	display: flex;
	flex-flow: row wrap;
	font-family: 'Noto Sans JP', sans-serif;
	width: 100%;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
}

#infoSection > * {
	flex: 0 25%;
	justify-content: space-between;
	margin-bottom: 3%;
	margin-left: 3%;
}

#mediaFile {
	height: 20%;
	min-height: 175px;
	width: 30%;
	min-width: 300px;
	border-radius: 10%;
	box-shadow: 10px 10px 10px var(--gunmetal);
	transition: all 0.2s ease-in-out;
}

#overlay {
	height: 20%;
	min-height: 175px;
	width: 30%;
	min-width: 300px;
	border-radius: 10%;
	background-color: black;
	overflow: hidden;
	opacity: 1;
	z-index: 2;
	box-shadow: 10px 10px 10px var(--gunmetal);
}

#overlay:hover img {
	transition: all 0.5s ease-in-out;
	opacity: 0.5;
}

/* Radio Buttons */
label {
	font-size: 25px;
}

#choiceSelection {
	display: flex;
	width: 100%;
	height: 200px;
	justify-content: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 50%;
	margin: 0 auto;
}

#formatOptions {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	flex-direction: row;
	order: 1;
	width: 50%;
	justify-content: center;
	align-content: center;
	text-align: center;
}

#destinationOptions {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	flex-direction: row;
	order: 2;
	width: 50%;
	justify-content: center;
	align-content: center;
	text-align: center;
}

#mp4radio {
	flex-basis: 50%;
	/* flex: 1 0 20%; */
	order: 1;
}

#mp4Label {
	flex-basis: 50%;
	/* flex: 1 0 80%; */
	order: 2;
}

#mp3radio {
	flex-basis: 50%;
	order: 3;
	float: left;
}

#mp3Label {
	flex-basis: 50%;
	order: 4;
	float: right;
}

#browserDL {
	flex-basis: 50%;
	order: 1;
	float: left;
}

#browserDLLabel {
	flex-basis: 50%;
	order: 2;
	float: right;
}

#archiveDL {
	flex-basis: 50%;
	order: 3;
	float: left;
}

#archiveDLLabel {
	flex-basis: 50%;
	order: 4;
	float: right;
}

/* @650px width */
@media all and (max-width: 650px) {
	header {
		font-size: 40px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	h3 {
		font-size: 20px;
		flex: 0 50%;
		flex-direction: row;
	}

	#actionLine1 {
		height: 200px;
		flex-direction: column;
		justify-content: space-between;
	}

	#urlText {
		font-size: 20px;
		min-width: 250px;
		max-width: 250px;
	}

	#dlButton {
		width: 300px;
		font-size: 25px;
	}

	#choiceSelection {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
	}

	#formatOptions > * {
		float: none;
	}

	#destinationOptions > * {
		float: none;
	}
}
